<form action="" method="POST">
  <!-- history pull -->
  <section>
    <label for="dateFrom" id="dateFromLbl" class="col4">History</label>
    <div class="col8"></div>
    <input type="date" name="dateFrom" id="dateFrom" class="col4" oninput="pullHistory(event.target)">
    <div class="col8"></div>
  </section>

  <%- include("contents/newDateEntry.ejs") %>
  <%- include("contents/newFuelEntry.ejs") %>
  <%- include("contents/mainBtnSect.ejs") %> 
</form>