<!-- chart - to be returned with history date range -->
<section id="chart">
  <button class="roll" type="button" onclick="displaySection(event.target)">+</button>
  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</section>