<!-- button types: reset only clears user inputs, button does nothing, no type - resets everything-->
<div id="buttonSection">
  <!-- <button id="btnSave" type="button" value="" onclick="btnBackClk()">back</button>
  <button id="btnClear" type="button" value="" onclick="btnEditClk(event.target)">edit</button> -->
  <button id="btnClear" type="button" value=""onclick="btnBackClk()">back</button>
</div>