<!-- entryOutput comes from history.ejs -->
<!-- meal and sleep entry section are hidden, if there are no values stored for them -->
<section 
<% if(entryOutput.sleepHours || entryOutput.breakfast || entryOutput.lunch || entryOutput.dinner ) { %> 
  class="fuelEntry" 
<% } else { %> 
  class="fuelEntry hidden" 
<% } %>
>

<div class="row">
  <label for="sleepHours" class="col3 histLook">Sleep Hours:</label>
  <input name="sleepHours" class="col2 histElt" value="<%= entryOutput.sleepHours %>" readonly>
  <label class="col7"></label>
</div>
<div class="row">
  <label for="breakfast" class="col3 histLook">Breakfast:</label>
  <input name="breakfast" class="col9 histElt" value="<%= entryOutput.breakfast %>" readonly>
</div>
<div class="row">
  <label for="lunch" class="col3 histLook">Lunch:</label>
  <input name="lunch" class="col9 histElt" value="<%= entryOutput.lunch %>" readonly>
</div>
<div class="row">
  <label for="dinner" class="col3 histLook">Dinner:</label>
  <input name="dinner" class="col9 histElt" value="<%= entryOutput.dinner %>" readonly>
</div>
</section>