<!-- button types: reset only clears user inputs, button does nothing, no type - resets everything-->
<div id="buttonSection">
  <button id="btnSave" type="submit" value="submit">save</button>
  <button id="btnClear" type="reset" value="reset">clear</button>
</div>