<!-- new entry date section -->
<section class="workoutEntry">
  <div class="lblRow col2">
    <label for="entryDate">New Date</label>
  </div>
  <div class="row col2">
    <input type="date" name="entryDate" dateonly=true required onblur="checkDateUniqueness(event.target)">
  </div>

<!-- to warn user of existing record dates, pull recorded dates  into a hidden array; todo: sometime later, limit the dates in calendar to only those that have entries -->
<input type="hidden" id="recordedDates" value="<%= entryDates %> ">
<%- include ("newWorkoutEntry.ejs") %>
<%- include("../partials/alert.ejs") %>
</section>