<!-- fuel: sleep and food entry section -->
<section class="foodSleepEntry">
  <button class="roll" type="button" onclick="displaySection(event.target)">-</button>
  <div class="lblRow col3">
    <label for="sleepHours">Sleep Hours</label>
  </div>
  <div class="row col3">
    <input type="number" name="sleepHours" min="0" class="newElt">
  </div>


  <div class="lblRow col3">
    <label for="breakfast">Breakfast</label>
    <label for="lunch">Lunch</label>
    <label for="dinner">Dinner</label>
  </div>
  
  <div class="row col3">
    <input name="breakfast">
    <input name="lunch">
    <input name="dinner">
  </div>
</section>
<br>