<!-- fuel: sleep and fuel entry section -->
<section class="fuelEntry">
  <div class="row">
    <label for="sleepHours" class="col4">Sleep Hours</label>
    <input type="number" step="0.1" name="sleepHours" min="0"  class="col2">
    <!-- <div class="col2"></div> -->
    <label class="col6"></label>
  </div>
  <div class="row">
    <label for="breakfast" class="col4">Breakfast</label>
    <input name="breakfast" class="col8">
  </div>
  <div class="row">
    <label for="lunch" class="col4">Lunch</label>
    <input name="lunch" class="col8">
  </div>
  <div class="row">
    <label for="dinner" class="col4">Dinner</label>
    <input name="dinner" class="col8">
  </div>
</section>