:root {
  --main-color: dimgray;
  /* --main-color: rgb(65,65,65); */
  --primary-color: blue;
  --secondary-color: red;
  --main-bg-color: snow;
  --blue-bg-color: #d7e4f7;
  --red-bg-color: #fce6e0; 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  font-family: system-ui;
  font-weight: normal;
  min-height: 100%;
}
/***************************************************/
h1, h2{
  width: 90%;
  margin: 1% 5%;
  text-align: center;
}
h1 {
  color: var(--secondary-color);
}
h2 {
  font-size: 100%;
}

/***************************************************/
/* buttons */
#btnClear, #btnSave, #alertMsg button {
  position: relative;
  height: 2.5em;
  width: 4em;
  margin: 0 10%;
  color: var(--main-bg-color);
  font-size: medium;
  border-style: outset;
}
#btnClear {
  float: left;
  background-color: var(--secondary-color)
}
#btnSave{
  float: right;
  background-color: var(--primary-color);
  border: 1px solid var(black);
  box-shadow:  -1px 1px var(black),
  -2px 2px var(--secondary-color);
}

/***************************************************/
/* buttons for toggling section display */
/* .roll,  */
.more, .settings {
  /* position: absolute; */
  right: 2.5vw;
  height: 2em;
  background: none;
  /* above sections */
  z-index: 2;
}
/* .roll {
  margin-top: -3px;
  width: 2em; 
  border: 0.5px solid var(--main-color);
} */
/* a button for additional workouts for the same day */
.more {
  transition-property: all;
  transition-duration: 200ms;
  width: 3em; 
  color: var(--main-color);
}
.editingButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* styling for the date row of history view */
.dateShade {
  box-shadow: -2px -1px 10px var(--main-color);
  border-radius: 5px 0 0 5px;
}
/* settings include login, themes */
.settings {
  position: absolute;
  margin-top: 10px;
  width: 2em; 
  border: 0.5px solid var(--main-color);
}
#settingsMenu {
  position: fixed;
  height: 0;
  opacity: 0;
  color: var(--main-color);
  font-weight: normal;
  transition-property: all;
  transition-duration: 500ms;
}
#settingsMenu li {
  list-style-image: none;
}

/***************************************************/
/* alert that an entry already exists, message - any other messages, such as success, failure, etc. */
#alertMsg, #message {
  background-color: var(--main-bg-color);
  border: 1px solid var(--primary-color);
  position: fixed;
  top: 33vh;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 200ms;
  padding: 1em;
  text-align: center;
  z-index: 3;
}
#alertMsg {
  opacity: 0;
  z-index: -1;
}
#alertMsg > button {
  margin-top: 3vh;
  color: var(--main-color);
}

#dateFromLbl, #alertMsg, #settingsMenu li {
  color: var(--main-color);
  font-weight: normal;
  font-style: italic;
}
#dateFrom, #dateTo {
  border: 0.5px solid var(--main-color);
}

/***************************************************/
section {
  display: block;
  width: 98vw;
  min-height: 2em;
  margin: 0 1vw;
  padding: 1vw;
  /* border: 0.5px solid; */
  z-index: 1; /* under the roll button */
}

/***************************************************/
.workoutEntry {
  background-color: var(--blue-bg-color);
}
.workoutSubEntry {
  border-radius: 5px 5px 0 5px;
  /* todo: need a border that dissappears towards top left corner */
  box-shadow: -0px -0px 2px var(--main-color);  
}
.foodSleepEntry {
  background-color: var(--red-bg-color);
  color: var(--secondary-color);  
}
#buttonSection {
  height: 3em;
  margin: 5% 20%;
}

/* class histElt, used for displaying input fields in the history view */
.histElt {
  border: none;
}
input.histElt {
  height: 1.2em;
  /* overflow-y: visible;
  overflow-wrap: break-word; */
}
.workoutEntry .histElt {
  background-color: var(--blue-bg-color);
}
.foodSleepEntry .histElt {
  background-color: var(--red-bg-color);
}

/* used in functionality.js for animated display of labels */
.histLook {
  color: var(--main-color);
  font-style: italic;
  margin-top: 5px;
  font-weight: normal;
  height: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.lblVisible {
  margin-top: 1em;
  height: 1.1em;
  opacity: 1;
}

/***************************************************/
/* section rows: labels and inputs */
.lblRow {
  margin-top: 0.5em;
  padding-left: 5px;
  /* height: 2em; */
  align-items: center;
}
.row, .lblRow {
  width: 100%;
  display: flex;
}
.col2, .col3, .editingButtons {
  column-gap: 2%;
}
.col2 > * {
  width: 49%;
}
.col3 > label, .col3 > input {
  width: 32%;
}
/***************************************************/
button, input, textarea {
  font-family: inherit;
  font-size: 100%;
  border-radius: 5px;
  height: 32px;
  border: 1px solid var(--main-bg-color);
}
input, textarea {
  color: var(--main-color);
  font-size: 16px;
  padding-left: 5px;
  text-align: left; 
}
input[type="date"] {
  width: 47.5vw;
  vertical-align: bottom;
}
/* input[type="number"] {
  padding-left: 5px;
} */
textarea {
  width: 100%;
  padding-top: 10px;
  resize: vertical;
}

footer {
  color: dimgray;
  font-size: smaller;
  font-weight: normal;
  position: relative;
  /* bottom: 0; */
  padding: 2vw;
  height: 2em;
  /* margin-top: -2em; */
}

/* #chart, #chartDisplay,  */
.hidden, .lgScreenMsg  {
  display: none;
  /* opacity: 0;
  transition: all 3s; */
}

/* size restriction for desktop */
@media only screen and (min-width: 900px) { 

    section {
      width: 60%;
      margin: auto 20%;
    }
    /* .roll,  */
    .more {
      right: 21vw;
    }
    .col2 > label, .col2 > input {
      width: 49%;
    }
    .col3 > label, .col3 > input {
      width: 31.8%;
    }
    input[type="date"] {
      width: 28.2vw;
    }
    .lgScreenMsg {
      display: block;
    }
  }